<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit books</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/font/bootstrap-icons.css">
  <link rel="stylesheet" href="/style/main.css" />
</head>
<body>
  <%- include('./nav') %>
  <div class="container mt-4">
    <form method="post" action="/edit/<%=book.bookid%>">
      <h2>Edit Book</h2>
      <div class="row">
        <div class="col-md-6 mb-2">
          <div class="form-group">
            <label for="first">Book name</label>
            <input 
              type="text" 
              class="form-control"
              name="title" 
              value="<%=book.Book_title %>"
            />
          </div>
        </div>
        <!--  col-md-6   -->
  
        <div class="col-md-6 mb-2">
          <div class="form-group">
            <label for="last">Book Author</label>
            <input type="text" class="form-control" name="author" value="<%=book.author %>" />
          </div>
        </div>
        <!--  col-md-6   -->
      </div>
  
  
      <div class="row">
        <div class="col-md-6 mb-2">
          <div class="form-group">
            <label for="company">Publisher</label>
            <input type="text" class="form-control" name="publisher"  value="<%=book.publisher %>" />
          </div>
        </div>
        <!--  col-md-6   -->
  
        <div class="col-md-6 mb-2">
  
          <div class="form-group">
            <label for="phone">Price</label>
            <input 
              type="number"
              class="form-control" 
              id="phone"
              placeholder="Price" 
              min="0" 
              name="price"
              value="<%=book.price %>"
            />
          </div>
        </div>
        <div class="col-md-6 mb-2">
  
          <div class="form-group">
            <label for="phone">Quantity</label>
            <input type="number" class="form-control" id="phone" min="1" name="quantity">
          </div>
        </div>
        <div class="col-md-6 mb-2">
  
          <div class="form-group">
            <label for="phone">Publish date</label>
            <input 
              type="date" 
              class="form-control"
              id="phone" 
              min="1" 
              name="date"
              value="<%=book.year_of_publication%>"
            />
          </div>
        </div>
        
        <!--  col-md-6   -->
      </div>
      <div class="col-md-6 mb-2">
        <div class="card" style="width: 18rem;">
          <img src="<%=book.url%>" class="card-img-top" alt="...">
        </div>
      </div>
      <!--  row   -->
      <button type="submit" class="btn btn-main mt-4">Update</button>
    </form>
  </div>
</body>
</html>