<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add book</title>
  <!-- CSS only -->
  <link rel="stylesheet" href="./css/bootstrap.min.css" />
  <link rel="stylesheet" href="./font/bootstrap-icons.css">
  <link rel="stylesheet" href="/style/main.css" />
</head>
<body>
   
  <!-- start navbar  -->
  <%- include('./nav') %>
  
  <!-- end navbar  -->
  <!-- start header  -->

  <header class="header">
    <div class="layout"></div>
    <div class="container">
      <div class="content">
        <h2>Welcome <%=myuser.Username %> !</h2>
        <p> Trarara it's the one and only book with the author name snoop dogg</p>
      </div>
    </div>
  </header>
  <!-- end header  -->
  <div class="container">
    <div class="d-flex justify-content-between mt-4 mb-4 align-items-end">
      <h3 class="mt-4">Our books!</h3>
      <span>
        <form method="get" action="/addbook">
          <button type="submit" class="btn btn-success">
            <i class="bi bi-plus"></i>
            Book
          </button>
        </form>
      </span>
    </div>
    <div class="flex flex-wrap justify-content-between gp-10">
      <% for(let i=0; i< books.length; i++) {%>
        <div class="col-md-3 col-sm-6 item mb-4">
          <div class="card item-card card-block">
            <h4 class="item-card-title text-right">
              <a href="/edit/<%=books[i].bookid %>">
                <i class="bi bi-gear-fill"></i>
              </a>
            </h4>
            <img src="<%=books[i].url %>" alt="Photo of sunset">
            <h5 class="card-title  mt-3 mb-3"><%=books[i].Book_title%></h5>
            <p class="author"><%=books[i].author%></p>
            <p class="card-text"><%=books[i].informations%></p> 
            <% if (myuser.Username === "Guest") { %> 
              <button type="button" class="btn btn-secondary" disabled>Please login</button>
            <% } else if (myuser.Rule == 0) { %> 
              <button type="button" class="btn btn-secondary">Buy</button>
            <% } else { %>
              <button 
                type="button" 
                class="delete btn btn-danger" 
                data-delete-id="<%=books[i].bookid%>"
                data-delete-name="<%=books[i].Book_title%>"
              >
                Danger
              </button>
            <% } %>
          </div>
        </div>
      <% } %>
    </div>
  </div>
  <div class="popup">
    <div class="pupup-section">
      <h5>Are you sure you wnat to delete this book <span id="book-name">fff</span></h5>
      <div class="popup-btn d-flex">
        <button class="btn btn-sec cancel-popup">
          cancel
        </button>
        <button class="btn btn-danger delete-event">
          delete
        </button>
      </div>
    </div>
  </div>
  <script src="./js/bootstrap.bundle.min.js"></script>

  <script src="/javascript/home.js"></script>
</body>
</html>